:root {
    --bcg-white-color:#FFFFFF;
    --bcg-grey-color:#F5F4FA;
    --bcg-black-color: #2F303A;
    --btn-blue-color:#2196F3;
    --text-color:#757575;
    --text-h-color: #212121;
    --text-logo-color: #000000;
}

body {
    margin: 0;
    background-color: var(--bcg-white-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;

    letter-spacing: 0.03em;

}

/* Властивості контейнерів */

.container {
    width: 1200px;
    padding:0 15px;
    margin-left: auto;
    margin-right: auto;
}

.main{
    padding: 94px 15px;
}

/* обнулення меж списків та заголовків */

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

/* Властивості заголовків */

.section-title {
    color: var(--text-h-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}




 /* СТУДІЯ */

/* шапка */

.page-header ul{
    list-style: none;

}

.page-header{
    padding-top: 24px;
    padding-bottom: 25px;
    
}

.portfolio-header {
    border-bottom: 1px solid #ECECEC;
}

 /* логотип */

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--text-logo-color);
    text-decoration: none;
}

.logo-web {
    color: var(--btn-blue-color);
}

/* навігація */

.site-nav .link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-h-color);
    text-decoration: none;
}

 /* Посилання */

.link{
    text-decoration: none;
}

.link:hover,
.link:focus{
    color: var(--btn-blue-color);
}

/* контакти */

.contacts-header{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
}


/* Герой чи баннер */

.hero {
    background-color: var(--bcg-black-color);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {

    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: var(--bcg-white-color);
}

/* кнопка */
.hero-btn {
    display: inline-block;
    color: var(--bcg-white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border: 0;
    padding: 10px 32px;
    background: var(--btn-blue-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.hero-btn:hover,
.hero-btn:focus {
    cursor: pointer;
}

/* Особливості компанії */


.features-title {
    color: var(--text-h-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.features p{
    font-size: 14px;
    line-height: 1.71;
}

/* Чим ми займаємося */


.work-title {
    margin-bottom: 50px;
}

/* Команда*/

.team {
    background-color: var(--bcg-grey-color);

}

.team-title {
    margin-bottom: 50px;
}

.team img {
    margin-bottom: 30px;
}

.name-title{
    color: var(--text-h-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 10px;
}

.team p {
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 30px;
}


/* Підвал */

.footer {
    background-color: var(--bcg-black-color);
    color: var(--bcg-white-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .logo {
    color: var(--bcg-white-color);
    margin-bottom: 20px;
}

.contacts-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}



 /* ПОРТФОЛІО */

.portfolio {
    font-size: 16px;
    line-height: 1.88;
}



 /* Фільт */

.portfolio-btn {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bcg-h-color);
    color: var(--text-h-color);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    margin-bottom: 50px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    background-color: var(--btn-blue-color);
    color: var(--bcg-white-color);
    cursor: pointer;
}


 /* Список робіт */

.portfolio li{
    margin: 30px 30px 30px 0;
}

.portfolio img {
    margin-bottom: 20px;
}

.portfolio-title {
    color: var(--text-h-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.portfolio p{
    margin-bottom: 20px;
}