:root {
    --bcg-white-color:#FFFFFF;
    --bcg-grey-color:#F5F4FA;
    --bcg-black-color: #2F303A;
    --btn-blue-color:#2196F3;
    --text-color:#757575;
    --text-h-color: #212121;
    --text-logo-color: #000000;
}

body {
    margin: 0;
    background-color: var(--bcg-white-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;

    letter-spacing: 0.03em;

}

/* Властивості контейнерів */

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding:0 15px;

}

.main{
    padding: 94px 15px;
}

/* обнулення меж списків та заголовків */

.list, .list-btn {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

/* Властивості заголовків */

.section-title {
    color: var(--text-h-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}




 /* СТУДІЯ */

 /* флекс шапки */

.page-header > .container {
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav > .list {
    display: flex;
    padding: 0;
}
/* шапка */



.page-header ul{
    list-style: none;
}

.portfolio-header {
    border-bottom: 1px solid #ECECEC;
}

 /* логотип */

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--text-logo-color);
    text-decoration: none;

    margin-right: 93px;
}

.logo-web {
    color: var(--btn-blue-color);
}

/* навігація */

.site-nav .link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-h-color);
    text-decoration: none;
}

.site-nav .item:not(:last-child){
    margin-right: 50px;
}

 /* Посилання */

.link{
    text-decoration: none;
}

.link:hover,
.link:focus{
    color: var(--btn-blue-color);
}

/* контакти */

.contacts-header{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin-left: auto;
}

.contacts-header .item:not(:last-child){
    margin-right: 50px;
}


/* Герой чи баннер */

.hero {
    background-color: var(--bcg-black-color);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {

    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: var(--bcg-white-color);
}

/* кнопка */
.hero-btn {
    display: inline-block;
    color: var(--bcg-white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border: 0;
    padding: 10px 32px;
    background: var(--btn-blue-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.hero-btn:hover,
.hero-btn:focus {
    cursor: pointer;
}

/* Особливості компанії */

.features .list{
    display: flex;
    flex-wrap: wrap;
}

.features .item {
    width: 270px;
    margin-right: 30px;
}


.features .item:nth-child(4n){
    margin-right: 0px;
}



.features-title {
    color: var(--text-h-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.features p{
    font-size: 14px;
    line-height: 1.71;
}

/* Чим ми займаємося */

.work .list {
    display: flex;
    flex-wrap: wrap;
}


.work-title {
    margin-bottom: 50px;
}

.work .item {
    margin-right: 30px;
}

.work .item:nth-child(3n) {
    margin-right: 0px;
}

.work > .item > img {
    display: block;
}

/* Команда*/

.team .list {
    display: flex;
    flex-wrap: wrap;
}

.team {
    background-color: var(--bcg-grey-color);

}
.team > .item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team .item {
    background-color: var(--bcg-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    margin-right: 30px;
}

.team .item:nth-child(4n){
    margin-right: 0;
}

.team-title {
    margin-bottom: 50px;
}

.team img {
    display: block;
    margin-bottom: 30px;
}

.name-title{
    color: var(--text-h-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 10px;
}

.team p {
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 30px;
    text-align: center;
}

.team p:hover {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.team p:focus {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



/* Підвал */

.footer {
    background-color: var(--bcg-black-color);
    color: var(--bcg-white-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .logo {
    display: block;
    color: var(--bcg-white-color);
    margin-bottom: 20px;
    
}

.contacts-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}



 /* ПОРТФОЛІО */

.portfolio {
    font-size: 16px;
    line-height: 1.88;
}



 /* Фільт */

.portfolio .list-btn {
    display: flex;
    justify-content: center;
}


.portfolio-btn {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bcg-grey-color);
    color: var(--text-h-color);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    border-color: transparent;
    border-radius: 4px;

    margin-bottom: 50px;
    padding: 6px 22px;
}

.portfolio-btn:not(:nth-last-child(4n)) {
    margin-right: 8px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    background-color: var(--btn-blue-color);
    color: var(--bcg-white-color);
    cursor: pointer;
}


 /* Список робіт */

.portfolio .list {
    display: flex;
    flex-wrap: wrap;
}

.portfolio .item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.portfolio .item:not(:nth-last-child( -n + 3)) {
    margin-bottom: 30px;
}

.portfolio img {
    margin-bottom: 20px;
}

.portfolio-title {
    color: var(--text-h-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.portfolio p{
    margin-bottom: 20px;
}